.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #2b2b2b;
    box-shadow: 0 15px 25px rgba (#1bacaf);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffff;
    text-align: center;
}

.login-box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #ffff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus-label,
.login-box .user-box input:valid-label {
    top: -85px;
    left: 0;
    color: #90dad8;
    font-size: 12px;
}

#submit {
    padding: 10px 20px;
    color: #90dad8;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    border: 1px solid #1bacaf;
    margin: auto;
}

#submit:hover {
    background: #2b2b2b;
    color: #ffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1bacaf, 0 0 25px #1bacaf, 0 0 50px #1bacaf,
        0 0 100px #1bacaf;
}

.button-form {
    display: flex;
    flex-direction: none;
    margin-top: 20px;
}

#register {
    font-size: 14px;
    text-decoration: none;
    color: #90dad8;
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a {
    margin: auto;
    color: #2b2b2b;
    text-decoration: none;
}
