$theme-colors: ( "primary" : #FFFFFF, "secondary" : #2B2B2B, "light" : #90DAD8, "dark" : #1caeb0);
$box-shadow : 0 .5rem 1rem rgba(#1BACAF, .15);
$box-shadow-sm : 0 .125rem .25rem rgba(#1BACAF, .075);
$box-shadow-lg : 0 1rem 3rem rgba(#1BACAF, .175);
input {
    padding: 10px 20px !important;
    border: 1px solid #000 !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #616161 !important;
    color: #fff !important;
    font-size: 16px;
    letter-spacing: 1px;
    width: 180px;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #1BACAF;
    outline-width: 0;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff;
}

::-ms-input-placeholder {
    color: #fff;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.datepicker {
    background-color: #2B2B2B !important;
    color: #fff !important;
    border: none;
    padding: 10px !important;
}

.datepicker-dropdown:after {
    border-bottom: 6px solid #2B2B2B;
}

thead tr:nth-child(3) th {
    color: #fff !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.dow,
.old-day,
.day,
.new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 6px !important;
    background-color: #eee;
    color: #2B2B2B;
}

.active {
    border-radius: 6px !important;
    background-image: linear-gradient(#90caf9, #64b5f6) !important;
    color: #2B2B2B !important;
}

.disabled {
    color: #616161 !important;
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff !important;
    opacity: 0.8;
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1;
}

.cell {
    border: 1px solid #bdbdbd;
    margin: 2px;
    cursor: pointer;
}

.cell:hover {
    border: 1px solid #1BACAF;
}

.cell.select {
    background-color: #1BACAF;
    color: #fff;
}

.fa-calendar {
    color: #fff;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";